<%# Display the comment with " says:" appended to user's email; provide delete button %>
<div class="card-panel">
  <div class="card-content">
    <span class="bold"><%= comment.user.email %> says:</span>
    <div class="show-whitespace">
      <p><%= comment.body %></p>
    </div>
    <% if current_user == comment.user %>
      <div class="">
        <%= link_to 'Delete', [comment.topic, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn-small red waves-effect waves-light accent-2" %>
      </div>
    <% end %>
  </div>
</div>
