<%# Render the new/edit topic form in a card %>
<div class="card card-top-spacer">
  <div class="card-content">
    <span class="card-title">Edit topic</span>
    <%= render "form", topic: @topic %>
  </div>
</div>

<%# Add a back button that redirects back to the show view for the topic %>
<div class="center-align back-btn">
  <%= link_to "Back", @topic, class: 'btn waves-effect waves-light light-blue accent-4' %>
</div>
