.welcome-subtitle {
  font-size: 1.25em;
  margin-bottom: 2.5em;
}

.welcome-btns {
  margin-bottom: 2em;
}

.welcome-btn-left {
  margin-right: 0.5em;
}

.welcome-btn-right {
  margin-left: 0.5em;
}

.homepage-avatar-size {
  width: 200px;
  height: 200px;
}

.profile-info {
  padding-top: 4em!important;
}
